body {
  overflow: hidden;
  background: rgb(50,50,100);
}
#clickb {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: auto;
  background: rgb(240,240,240);
  border-radius: 4px;
}
